<h2 class="comment-title">Comments</h2>
<% @post.comments.each do |comment|%>
    <div class="well">
        <p class="comment-p"><strong><%= comment.username%> </strong>: <%= comment.body%>
           <%= link_to '[X]', [comment.post, comment],
                    method: :delete,
                    data: {confirm: 'Are you sure?'}
                    %>
                    </p>
   

    </div>


<% end %>

